:root{
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
h1{
    font-size: xx-large;
}
.sidePanel{
    width: 40%;
    background-image: url(../Assets/Signup-cover.jpg)
}
.sidePanel>div{
    height: 50%;
    width: 100%;
    background-color: rgba(0 0 0/0.5);
    color:white
}
.formPanel{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
form{
    width: 100%;
}
.credit>a{
    color: white;
}